In [1]:
from modules.get_expected_points import get_expected_points
from data.raw.club_mapping import club_mapping
from modules.get_league_table import get_home_league_table
from modules.get_league_table import get_away_league_table
import pandas as pd
fixtures = pd.read_csv("data/processed/fixtures.csv")
fixtures = fixtures[fixtures["is_planned_tf"]==True]
expected_points = get_expected_points(fixtures)

In [2]:
league_table = get_home_league_table(2025, club_mapping)

In [3]:
league_table

    position  tm_id points
0          1     62      0
1          2    941      0
2          3    377      0
3          4    197      0
4          5   1322      0
5          6   2311      0
6          7   1897      0
7          8    715      0
8          9    697      0
9         10  13726      0
10        11    814      0
11        12   5546      0
12        13   5544      0
13        14    450      0
14        15   1496      0
15        16   5545      0